<mat-card fxLayout fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1rem" fxLayoutGap.xs="0">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-toolbar>
        <h3 *ngIf="packs">Packs</h3>

      </mat-toolbar>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div *ngIf="packs" id='container'>
        <div id="packsItems" fxLayout fxLayout="column" fxLayoutGap="15px">
          <div *ngFor="let pack of packs" fxLayout fxLayout="column" fxLayoutGap="10px">

            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{pack.name}}
                  </mat-panel-title>
                  <mat-panel-description>

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <mat-card-title>
                    <small fxFlexAlign="left">Order Nº {{pack._id}} </small>
                  </mat-card-title>
                  <section>
                    <label for="description">
                      <h4>Description</h4>
                    </label>
                    <p id="description">{{pack.name}} </p>
                  </section>
                  <section id="orderItems">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Items
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ng-template matExpansionPanelContent>
                        {{pack.description}}
                        <!--  <div class="orderItems" *ngFor="let item of pack.options" fxFlexAlign="stretch" fxLayout="row"
                          fxLayoutGap="1rem">
                          <h5 fxFlexAlign="center">Nº {{item._id}} </h5>
                          <div fxFlexAlign="center"> </div>
                        </div> -->
                      </ng-template>
                    </mat-expansion-panel>
                  </section>
                </ng-template>
              </mat-expansion-panel>
            </mat-accordion>

            <!---        <mat-card-title>
              <small fxFlexAlign="left">Order Nº {{pack.invid}} </small>
            </mat-card-title>
            <section>
              <label for="description"><h4>Description</h4> </label>
              <p id="description">{{pack.description}} </p>
            </section>
            <section id="orderItems">
            <div class="orderItems" *ngFor="let item of pack.items" fxLayout="row" fxLayoutGap="1rem">
              <h5 fxFlexAlign="center">Nº {{item.key}} </h5>
              <div fxFlexAlign="center"> {{item.value}}</div>
            </div>
          </section>-->
          </div>
        </div>
      </div>
    </ng-template>
  </mat-expansion-panel>

</mat-card>
