@import "../../shared/styles/projecte-style.scss";
:host {
  mat-card{
    color: $white-color;
    background: $darkgrey-color;
    mat-card-header,mat-toolbar{
      background-color: #83b9ff;
      color:#ffffff;
    }
    >.mat-expansion-panel:nth-child(1){
      .mat-expansion-panel-header:nth-child(1){
        background-color: #83b9ff7e;
        color:#ffffff;
      }
      >.mat-expansion-panel-header:nth-child(1){
        background-color: #83b9ff;
      }
    }
  }
    #container{
      max-height: 20rem;
      overflow-y: auto;
    }
    #invoicesItems{
      margin:0 1rem;
      &>div>div{
        margin:0 2rem;
      }
    }
    #orderItems{
      margin-left: 1rem;
      padding-left: 1rem;
      .orderItems{
        line-height: 0;
      }
    }
  @media(min-width: 959px){
    #description{
      padding-left: 1rem;
    }
  }
}