<div class="todoTasks">

  <div cdkDropListGroup fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="5px"
    fxLayout.lt-md="column-reverse" fxLayoutAlign.lt-md="stretch stretch" fxLayoutGap.lt-md="2px">
    <div id="todoListGroup" fxLayout="column" fxLayoutAlign="space-between" >
      <!-- ToDo List-->
      <div class="dropLists" id="todoList" fxLayout="column" fxLayoutAlign="stretch stretch">
        <label><b>To do</b></label>
        <div cdkDropList [cdkDropListData]="todoList" (cdkDropListDropped)="drop($event)" class='dropList todoList'>
          <div class="drag-box" *ngFor='let item of todoList' cdkDragDisabled="{{item.disabled}}" cdkDrag>
            <!-- Expansion panel-->
            <mat-expansion-panel (opened)="item.disabled = true" (closed)="item.disabled = false">
              <mat-expansion-panel-header matRipple>
                {{item.task}}
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <div fxLayout="row" fxLayoutAlign="space-between baseline">
                  <label for="taskEdit">Task:</label>
                  <div>
                    <button id="edit-btn" mat-button (click)='editTodotask(item)' [disabled]="" title="Update task">
                      <mat-icon>done</mat-icon>
                    </button>
                    <button id="delete-btn" mat-button (click)='deleteTodotask(item,todoList)' [disabled]=""
                      title="Delete task">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <input matInput type="text" id="taskEdit" placeholder="Task" [(ngModel)]="item.task">
              </ng-template>
            </mat-expansion-panel>
            <!-- end of Expansion panel-->
          </div>
        </div>

        <!-- <button id="edit-btn" mat-raised-button color="primary" (click)='insertUpdate()' [disabled]="">Add</button>-->
      </div>
      <!-- end of ToDo List-->
      <!-- Add ToDo task action-->
      <mat-form-field class="add-form-field full-width">
        <input matInput type="text" placeholder="New task" [(ngModel)]="todotask.task" name="task"
          (keydown.enter)='addTodotask()'>
        <button mat-button *ngIf="todotask.task" matSuffix mat-icon-button aria-label="Clear"
          (click)="todotask.task=''">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button *ngIf="todotask.task" matSuffix mat-icon-button aria-label="Add" (click)="addTodotask()">
          <mat-icon>done</mat-icon>
        </button>
      </mat-form-field>
      <!-- end of Add ToDo task action-->
    </div>
    <!-- Done List-->
    <div id="todoListGroup" fxLayout="column" fxLayoutAlign="space-between start" >
      <div class="dropLists" id="doneList" fxLayout="column" fxLayoutAlign="stretch stretch">
        <label><b>Done</b> </label>
        <div cdkDropList [cdkDropListData]="doneList" (cdkDropListDropped)="drop($event)" class='dropList doneList'>
          <div class="drag-box" *ngFor="let item of doneList" cdkDragDisabled="{{item.disabled}}" cdkDrag>
            <!-- Mat-Card -->
            <mat-card>{{item.task}}</mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
