:host .dragDrop {
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:host .dragDrop .spinner-container {
  position: absolute;
  background-color: #fafafa;
  z-index: 1;
}

:host .dragDrop .dropLists {
  min-width: 33%;
}

:host .dragDrop .dropLists #title {
  background-color: #f0f8ff;
  border-radius: 7px;
  padding: 1px 10px;
}

:host .dragDrop .dropLists #title * {
  color: #999;
}

:host .dragDrop .dropLists .dropList {
  max-width: 100%;
  border: solid 1px #ccc;
  display: block;
  border-radius: 4px;
  overflow-y: auto;
}

:host .dragDrop .dropLists .dropList.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

:host .dragDrop .dropLists#todoList .dropList {
  max-height: 70vh;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel-header {
  background-color: #ffa5004d;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel-header:hover {
  background-color: rgba(128, 83, 0, 0.302);
}

:host .dragDrop .dropLists#doingList .dropList {
  max-height: 75vh;
}

:host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel-header {
  background-color: #ffff004d;
}

:host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel-header:hover {
  background-color: rgba(128, 128, 0, 0.302);
}

:host .dragDrop .dropLists#doneList .dropList {
  max-height: 75vh;
}

:host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel-header {
  background-color: rgba(0, 255, 0, 0.302);
}

:host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel-header:hover {
  background-color: rgba(0, 128, 0, 0.302);
}

:host .dragDrop .dropLists#doneList .dropList ul {
  padding: 0 2px 0 15px;
  margin: 0;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel, :host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel, :host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel {
  width: 100%;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel .mat-expansion-panel-header, :host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel .mat-expansion-panel-header, :host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel .mat-expansion-panel-header {
  height: auto !important;
  min-height: 40px;
  padding: 0 10px 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel .mat-expansion-panel-header ::ng-deep .mat-expansion-indicator, :host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel .mat-expansion-panel-header ::ng-deep .mat-expansion-indicator, :host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel .mat-expansion-panel-header ::ng-deep .mat-expansion-indicator {
  padding: 5px;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel .mat-expansion-panel-header.mat-expanded, :host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel .mat-expansion-panel-header.mat-expanded, :host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel .mat-expansion-panel-header.mat-expanded {
  background-color: #9ea7da;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel ::ng-deep .mat-expansion-panel-content, :host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel ::ng-deep .mat-expansion-panel-content, :host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel ::ng-deep .mat-expansion-panel-content {
  background-color: #f5f6fb;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body, :host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body, :host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0 5px 5px;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel .mat-input-element, :host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel .mat-input-element, :host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel .mat-input-element {
  background-color: #fcfcfc;
  padding: 2px;
  padding-right: 30px;
  text-overflow: ellipsis;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel label, :host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel label, :host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel label {
  color: grey;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel #delete-btn, :host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel #delete-btn, :host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel #delete-btn {
  color: #f44336c0;
  margin-left: -25px;
  padding: 0;
  min-width: 0;
  z-index: 1;
}

:host .dragDrop .dropLists#todoList .dropList .mat-expansion-panel #delete-btn:hover, :host .dragDrop .dropLists#doingList .dropList .mat-expansion-panel #delete-btn:hover, :host .dragDrop .dropLists#doneList .dropList .mat-expansion-panel #delete-btn:hover {
  background-color: #f443362a;
}

.drag-box {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.drag-box:last-child {
  border: none;
}

.drag-box.cdk-drag-placeholder {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: 0.2;
}

.drag-box.cdk-drag-placeholder :not([aria-disabled="true"]) {
  cursor: move;
}

.drag-box.cdk-drag-preview {
  opacity: 0.8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drag-box.cdk-drag-preview.drag-box {
  width: content !important;
  height: unset !important;
}

.drag-box.cdk-drag-preview .mat-expansion-panel {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 81, 181, 0.3);
}

.drag-box.cdk-drag-animating {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/*# sourceMappingURL=todo.component.css.map */