@import "./shared/styles/projecte-style.scss";
:host {


mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}
#mainContent {
  width: 100%;
  max-height: none !important;
  //background: lighten($grey-color,45%);
  background: $black-color;
  color:$white-color;
  main {
    overflow-x: auto;
    > * {
      width: 100%;
    }
    router-outlet {
      width: 0;
    }
  }
  .mat-nav-list {
    max-width: 200px !important;
    padding-top: 0;
    background: $darkgrey-color;
    //height: 100vh;
    .dashboard {
      font-size: 12px;
      max-height: 2.5rem;
      border-right: 4px solid lighten($darkgrey-color, 20%);
      color: darken($white-color, 20%);
      padding: 8px;
/*       ::ng-deep .mat-list-item-content {
        padding: 8px;
      } */
      .routeIcon {
        margin-right: 1rem;
        color: darken($white-color, 40%);
      }
      &:hover,
      &:focus {
        color: lighten($white-color, 30%);
        background-color: #ffffff4d;
        .routeIcon {
          color: lighten($white-color, 20%);
        }

      }
      &.breadcrumb{
        background: #ffffff25;
        max-height: 2rem;
        color: darken($white-color, 10%);
      }

    }
    span {
      left: 1rem;
      width: 100%;
      //opacity: 0.5;
      small {
        color: darken($white-color, 30%);
        bottom: 0;
      }
    }
  }
}
app-nav-bar {
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px 0 #0000001a,
    0 1px 18px 0 #0000001a;
  z-index: 0;
}
mat-sidenav {
  background: $darkgrey-color;
}
}
