<a id="listU" mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px','height': '100%'}"
  (click)="onItemSelected($event,item, depth)"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded,'firstLevel':depth? false: true }"
  class="menu-list-item" div fxLayout="row" fxLayoutAlign="start space-around">
  <mat-icon class="routeIcon material-icons-outlined">{{item.iconName}}</mat-icon>
  <span fxFlex="grow">{{item.displayName}}</span>
  <span *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>
